<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d4408de37a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>My Portfolio</title>
</head>

<body>
    
    <%-  include('header') -%> 

    <div class="container-showcase" id="about">
        <div id="logo" class="clearfix">
            <p><img class="logo" src="img/end_logo.png" alt=""></p>
         </div>
 
         <div id="profil">
             <img class="profil-resmi" src="img/profil3.jpg" alt="">
         </div>
         
         <h1>Hey I am Hamza </h1>
         <p><span class="main-text"><i>a web developer</i></span></p>
        
 
     </div>
 
    


    <%-  include('footer') -%> 

</body>