<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d4408de37a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>My Portfolio</title>
</head>


<body>
    
    <%-  include('header') -%> 


    <div class="container-contact"  class="clearfix" id="contact">
        <div id="contact-text">
            <h2 class="contact-text">Let's work together...</h2>
            <p class="small-text"><i>How do you take your coffee?</i></p>
        </div>

        <div id="social-media-groups">
            <ul>
                <li><a href="#" class="social-media-links"><i class="fab fa-facebook-square">&nbsp;</i>Facebook</a></li>
                <li><a href="#" class="social-media-links"><i class="fab fa-instagram-square">&nbsp;</i>Instagram</a></li>
                <li><a href="#" class="social-media-links"><i class="fab fa-twitter-square">&nbsp;</i>Twitter</a></li>
                <li><a href="#" class="social-media-links"><i class="fas fa-at"></i>&nbsp;</i>Send a mail</a></li>
                <li><a href="#" class="social-media-links"><i class="fas fa-phone-square-alt"></i>&nbsp;</i>Call me</a></li>
            </ul>
        </div>
    </div>

    <%-  include('footer') -%> 

</body>