<footer  class="clearfix">

    <div id="footer">
        <div class="span">
            <span class="small-text small-text-end"><i>**This is just a fake portfolio. All the projects and contact details given are not real.</i></span>
            <span class="small-text small-text-end small-text-end2"><i>&copy;2020 Created for Basaran</i></span>

        </div>
    </div>

</footer>