<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d4408de37a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>My Portfolio</title>
</head>

<body>
    
    <%-  include('header') -%> 

    <div class="container-projects" class="clearfix" id="work">

        <h2>These are some of my projects</h2>

        <div id="boxes" class="clearfix">
            <div class="box" >
                <div class="box-1">
                    <figure>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/wWh8hwgeAMw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <figcaption>Build a PIN Pad</figcaption>
                    </figure>
                </div>
            </div>
            <div class="box" >
                <div class="box-1">
                    <figure>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/oMBXdZzYqEk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <figcaption>Build a Meditation Map</figcaption>
                    </figure>
                </div>
            </div>
            <div class="box" >
                <div class="box-1">
                    <figure>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/N3cq0BHDMOY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <figcaption>Build a Virtual Keyboard</figcaption>
                    </figure>
                </div>
            </div>
            <div class="box" >
                <div class="box-1">
                    <figure>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/90PgFUPIybY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <figcaption>Build an Ecommerce Shopping Cart</figcaption>
                    </figure>
                </div>
            </div>
            
        </div>

        <div id="show-all-outside">
            <p class="show"><a href="#"><span class="show-all">Show All</span></a></p>
        </div>

    </div>


    <%-  include('footer') -%> 

</body>